@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  padding: 50px;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #00B7FF;
}

.btn{
  margin-right:20px;
}
mark{
  background-color: #bd2130;
  color:#fff;
}
pre{
  font-size: 14px;
  line-height: 1.5;
}